/* Estilos globales */
body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #d4acb2;
}


.formulario {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #ebe3e4;
    border-radius: 10px;
}

.formulario h1 {
    text-align: center;
    padding: 0 0 20px 0;
    color: rgb(45, 43, 48);
    border-bottom: 1px solid silver;
}

/* Estilos del formulario */
.formulario form {
    padding: 0 40px;
    box-sizing: border-box;
}

/* Estilos del contenedor de los inputs */
form .username {
    position: relative;
    border-bottom: 2px solid silver;
    margin: 20px 0;
}

/* Estilos de los inputs */
.username input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.username label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: rgb(88, 79, 79);
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}


.username input:not(:placeholder-shown) + label,
.username input:focus + label {
    top: -10px;
    color: black;
    font-size: 14px;
}


.username input:focus {
    border-bottom: 2px solid rgb(175, 60, 79);
}


input[type="submit"] {
    height: 50px;
    width: 100%;
    border: 1px solid rgb(78, 76, 76);
    background: rgb(175, 60, 79);
    border-radius: 25px;
    font-size: 16px;
    align-items: center;
    outline: none;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

input[type="submit"]:hover {
    background: rgb(145, 50, 70);
    border-color: rgb(145, 50, 70);
}


.CrearUsuario {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: black;
}

.CrearUsuario a {
    color: blue;
    text-decoration: none;
}


header {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    font-size: 20px;
    color: rgb(45, 43, 48);
    align-items: center;
}


#cita {
    width: 100%;
    align-items: center;
    text-align: right;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}


#crear {
    height: 500px;
}
